snippet file "Base structure for a php file" !b
<?php

/**
 * @file
 * ${1:Description}
 */

${2}
endsnippet

snippet fun "Documented function" !b
/**
 * ${1:Description}
 */
function ${2:function_name}() {
  ${3:// Code}
}
endsnippet
